
.reactflow .react-flow__handle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
  }
#active{
  background-color: #edeef1;
  border-radius: 5px;
  padding: 5px;
  width: 30px;
  text-decoration: none;
}












